<ion-content>
  <ion-grid>
    <ion-row class="barcode">
      <ion-col (click)="startScan()">
        <img [src]="formData.barcode ? 'assets/img/barcode-success.png' : 'assets/img/barcode-start.png'">
        <span *ngIf="formData.barcode" class="code">
          {{ formData.barcode }}
        </span>
        <span *ngIf="!formData.barcode" class="code text">
          Нажмите для сканирования штрих-кода
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="form-list">
      <ion-col>
        <ion-list>
          <ion-item text-wrap [ngClass]="{'disabled': !formData.barcode}">
            <ion-label>
              <h2>Данные отправителя</h2>
              <p>Проверьте контактные данные, E-Mail и номер телефона</p>
            </ion-label>
            <ion-checkbox [(ngModel)]="formData.values.value1" color="dark"
              (ionChange)="checkForm('values.value1')" item-right>
            </ion-checkbox>
          </ion-item>
          <ion-item text-wrap [ngClass]="{'disabled': !formData.barcode}">
            <ion-label>
              <h2>Данные получателя</h2>
              <p>Убедитесь, что адрес указан полностью, включая индекс и сотовый номер</p>
            </ion-label>
            <ion-checkbox [(ngModel)]="formData.values.value2" color="dark"
              (ionChange)="checkForm('values.value2')" item-right>
            </ion-checkbox>
          </ion-item>
          <ion-item text-wrap [ngClass]="{'disabled': !formData.barcode}">
            <ion-label>
              <h2>Посылка</h2>
              <p>Соответстувует ли коробка необходимым требованиям</p>
            </ion-label>
            <ion-checkbox [(ngModel)]="formData.values.value3" color="dark"
              (ionChange)="checkForm('values.value3')" item-right>
            </ion-checkbox>
          </ion-item>
          <ion-item text-wrap [ngClass]="{'disabled': !formData.barcode}">
            <ion-label>
              <h2>Страна</h2>
              <p>Укажите страну-получатель</p>
            </ion-label>
            <ion-select [(ngModel)]="formData.country"
              (ionChange)="checkForm('country')">
              <ion-option value="2">Россия</ion-option>
              <ion-option value="3">Казахстан</ion-option>
              <ion-option value="9">Украина</ion-option>
              <!-- <ion-option value="kg">Киргизия</ion-option>
              <ion-option value="by">Беларусь</ion-option> -->
            </ion-select>
          </ion-item>
          <ion-item text-wrap [ngClass]="{'disabled': !formData.barcode}">
            <ion-label>
              <h2>Вес</h2>
              <p>Дробное значение вводить через точку</p>
            </ion-label>
            <input class="input" [(ngModel)]="formData.weight"
              type="number" item-right placeholder="вес, кг"
              (change)="checkForm('weight')">
          </ion-item>
          <ion-item *ngIf="!cost.price || cost.price == 'error'" class="no-bg"
            text-wrap>
            <span color="default">
              {{ cost.message }}
            </span>
          </ion-item>
          <ion-item *ngIf="cost.price && cost.price != 'error'" class="no-bg"
            text-wrap>
            <span color="default">
              {{ cost.message }}
              {{ cost.price }}
            </span>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid class="footer-barcode">
    <button class="submit" [ngClass]="{'disabled': !canSubmit}" ion-button
      (click)="sendForm()" [disabled]="!canSubmit">
      Сфотографировать квитанцию
    </button>
    <button class="logout" ion-button icon-only clear (click)="signOut()">
      <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
    </button>
  </ion-grid>
</ion-footer>
