<ion-content [forceOverscroll]="false">
  <ion-grid class="ion-align-items-stretch">
    <!-- <ion-row class="barcode">
      <ion-col (click)="startScan()">
        <img [src]="formData.barcode ? 'assets/img/barcode-success.png' : 'assets/img/barcode-start.png'">
        <span *ngIf="formData.barcode" class="code">
          {{ formData.barcode }}
        </span>
        <span *ngIf="!formData.barcode" class="code text">
          Нажмите для сканирования штрих-кода
        </span>
      </ion-col>
    </ion-row> -->
    <ion-row class="form-list">
      <ion-col>
        <ion-list>
          <ion-item *ngIf="formData.barcode">
            <ion-label class="ion-text-wrap">
              <h2>ШПИ-код</h2>
              <p>{{ formData.barcode }} - {{ formService.getCountryName(formData.country) }}</p>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="formData.barcode && pageStep === 1">
            <ion-label class="ion-text-wrap">
              <h2>Вес</h2>
              <p>Дробное значение вводить через точку</p>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="formData.barcode && pageStep === 1"
            [ngStyle]="{'padding-right': platform.is('ios') ? '10px' : null}">
            <input
              *ngIf="platform.is('android')"
              #weightInput
              class="weight-input input"
              [(ngModel)]="formData.weight"
              type="number"
              pattern="\d*"
              placeholder="вес, кг"
              (keyup)="checkForm('weight')"
              item-right
            >
            <input
              *ngIf="platform.is('ios')"
              #weightInput
              id="weightInput"
              class="weight-input input"
              [(ngModel)]="formData.weight"
              type="text"
              pattern="[0-9]*"
              decimal="true"
              button-char=","
              placeholder="вес, кг"
              (keyup)="checkForm('weight')"
              minlength="0"
              maxlength="100"
              item-right
            >
          </ion-item>
          <ion-item *ngIf="formData.barcode && pageStep === 2" class="pickup-item">
            <ion-label class="ion-text-wrap">
              <h2>Дата для заказа курьера</h2>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="formData.barcode && pageStep === 2">
          <!-- <ion-item> -->
            <ionic-calendar-date-picker
              [ngStyle]="{'width': platform.is('ios') ? 'calc(100% - 10px)' : '100%'}"
              (onSelect)="onSelectDate($event)"
              [date]="minDate"
              [fromDate]="fromDate"
              [toDate]="maxDate"
              [validDates]="availableDates"
              [todaysItemStyle]="{'color': '#fff'}"
              [dayLabels]="['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']"
              [monthLabels]="['янв', 'фев', 'мар', 'апр', 'май', 'июн', 'июл', 'авг', 'сен', 'окт', 'ноя', 'дек']"
            ></ionic-calendar-date-picker>	
          </ion-item>
          <!-- <ion-item  class="pickup-item">
            <ng-container *ngIf="platform.is('ios')">
              <ion-label class="ion-text-wrap" (click)="openCalendar()">
                <h2>Дата для заказа курьера</h2>
              </ion-label>
            </ng-container>
            <ng-container *ngIf="!platform.is('ios')">
              <ion-label class="ion-text-wrap" (click)="openCalendar()">
                <h2>Дата для заказа курьера</h2>
              </ion-label>
            </ng-container>
            <ion-note class="selected-date" slot="end">{{ selectedDate }}</ion-note>
          </ion-item> -->
          <ng-container *ngIf="formData.barcode && pageStep === 1">
            <ion-item *ngIf="!cost.price || cost.price == 'error'" class="message no-bg ion-text-wrap">
              <span>
                {{ cost.message }}
              </span>
            </ion-item>
            <ion-item *ngIf="cost.price && cost.price != 'error'" class="message no-bg ion-text-wrap">
              <span>
                {{ cost.message }}
                {{ cost.price }}
              </span>
            </ion-item>
          </ng-container>
          <ion-row *ngIf="platform.is('ios')" class="action-bar">
            <ion-col>
              <ion-button *ngIf="formData.barcode && pageStep === 1" class="cancel" (click)="onCancel()">
                Отменить
              </ion-button>
              <ion-button *ngIf="formData.barcode && pageStep === 2" class="cancel" (click)="onCancelCalendar()">
                Не забирать
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button fill="outline" color="light" *ngIf="formData.barcode && pageStep > 0" class="submit" (click)="sendForm()">
                Продолжить
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="platform.is('android')">
  <ion-toolbar class="footer-barcode">
    <ion-row>
      <ion-col>
        <ion-button *ngIf="formData.barcode && pageStep === 1" class="cancel" (click)="onCancel()">
          Отменить
        </ion-button>
        <ion-button *ngIf="formData.barcode && pageStep === 2" class="cancel" (click)="onCancelCalendar()">
          Не забирать
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="formData.barcode && pageStep > 0" class="submit" (click)="sendForm()">
          Продолжить
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
