<ion-content>
  <ion-grid class="ion-align-items-stretch">
    <ion-row class="barcode">
      <ion-col (click)="startScan()">
        <img [src]="formData.barcode ? 'assets/img/barcode-success.png' : 'assets/img/barcode-start.png'">
        <span *ngIf="formData.barcode" class="code">
          {{ formData.barcode }}
        </span>
        <span *ngIf="!formData.barcode" class="code text">
          Нажмите для сканирования штрих-кода
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="form-list">
      <ion-col>
        <ion-list>
          <ion-item [ngClass]="{'disabled': !formData.barcode}" class="ion-hide">
            <ion-label class="ion-text-wrap">
              <h2>Данные отправителя</h2>
              <p>Проверьте контактные данные, E-Mail и номер телефона</p>
            </ion-label>
            <ion-checkbox [(ngModel)]="formData.values.value1" color="dark"
              (ionChange)="checkForm('values.value1')" item-right>
            </ion-checkbox>
          </ion-item>
          <ion-item [ngClass]="{'disabled': !formData.barcode}" class="ion-hide">
            <ion-label class="ion-text-wrap">
              <h2>Данные получателя</h2>
              <p>Убедитесь, что адрес указан полностью, включая индекс и сотовый номер</p>
            </ion-label>
            <ion-checkbox [(ngModel)]="formData.values.value2" color="dark"
              (ionChange)="checkForm('values.value2')" item-right>
            </ion-checkbox>
          </ion-item>
          <ion-item [ngClass]="{'disabled': !formData.barcode}" class="ion-hide">
            <ion-label class="ion-text-wrap">
              <h2>Посылка</h2>
              <p>Соответстувует ли коробка необходимым требованиям</p>
            </ion-label>
            <ion-checkbox [(ngModel)]="formData.values.value3" color="dark"
              (ionChange)="checkForm('values.value3')" item-right>
            </ion-checkbox>
          </ion-item>
          <ion-item [ngClass]="{'disabled': !formData.barcode}">
            <ion-label class="ion-text-wrap">
              <h2>Вес</h2>
              <p>Дробное значение вводить через точку</p>
            </ion-label>
            <input #weightInput class="input" [(ngModel)]="formData.weight"
              type="number" item-right placeholder="вес, кг"
              pattern="\d*"
              (keyup)="checkForm('weight')"
              (blur)="sendForm('blur')">
          </ion-item>
          <ion-item [ngClass]="{'disabled': !formData.barcode}" class="ion-hide">
            <ion-label class="ion-text-wrap">
              <h2>Страна</h2>
              <p>Укажите страну-получатель</p>
            </ion-label>
            <ion-select [(ngModel)]="formData.country"
              (ionChange)="checkForm('country')" disabled="true">
              <ion-select-option value="2">Россия</ion-select-option>
              <ion-select-option value="3">Казахстан</ion-select-option>
              <ion-select-option value="9">Украина</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="pickUp" class="pickup-item">
            <ng-container *ngIf="platform.is('ios')">
              <ion-label class="ion-text-wrap" (click)="openCalendar()">
                <h2>Дата для заказа курьера</h2>
              </ion-label>
            </ng-container>
            <ng-container *ngIf="!platform.is('ios')">
              <ion-label class="ion-text-wrap" (click)="openCalendar()">
                <h2>Дата для заказа курьера</h2>
              </ion-label>
            </ng-container>
            <ion-note class="selected-date" slot="end">{{ selectedDate }}</ion-note>
            <!-- <ion-datetime
              displayFormat="DD/MM/YY"
              [(ngModel)]="formData.date"
              [min]="minDate"
              [max]="maxDate"
            ></ion-datetime> -->
          </ion-item>
          <ion-item *ngIf="!cost.price || cost.price == 'error'" class="no-bg ion-text-wrap ion-hide">
            <span color="default">
              {{ cost.message }}
            </span>
          </ion-item>
          <ion-item *ngIf="cost.price && cost.price != 'error'" class="no-bg ion-text-wrap ion-hide">
            <span color="default">
              {{ cost.message }}
              {{ cost.price }}
            </span>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer-barcode">
    <ion-row>
      <ion-col>
        <ng-container *ngIf="platform.is('ios')">
          <ion-button class="submit" [ngClass]="{'disabled': !canSubmit}"
            (click)="sendForm()" [disabled]="!canSubmit">
            {{ buttonText }}
          </ion-button>
        </ng-container>
        <ng-container *ngIf="!platform.is('ios')">
          <ion-button class="submit" [ngClass]="{'disabled': !canSubmit}"
            (click)="sendForm()" [disabled]="!canSubmit">
            {{ buttonText }}
          </ion-button>
        </ng-container>
      </ion-col>
      <ion-col class="ion-align-self-center" >
        <ng-container *ngIf="platform.is('ios')">
          <ion-button class="logout" fill="clear" (click)="signOut()">
            <ion-icon slot="icon-only" ios="ios-log-out" md="md-log-out"></ion-icon>
          </ion-button>
        </ng-container>
        <ng-container *ngIf="!platform.is('ios')">
          <ion-button class="logout" fill="clear" (click)="signOut()">
            <ion-icon slot="icon-only" ios="ios-log-out" md="md-log-out"></ion-icon>
          </ion-button>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
